.app-container-min {
  width: 80%;
  position:fixed;
  float:left;
  /* left: 0%; */
  /* display: block; */
  min-width:75%;
  height: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  margin-right: 20%;
}

.app-container-max {
  width: 100%;
  position:fixed;
  float:left;
  /* left: 0%; */
  /* display: block; */
  min-width:75%;
  height: fit-content;
  margin-right: 0;
}

.removeSroll {
  overflow: hidden;
}

.addSroll {
  overflow-y: hidden;
}

.app-livestream {
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  background-color: #2a3e40;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px #888888;
  box-shadow: 0px 0px 5px 0px #888888;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 15px;
}

.app-livestream-minimize{
  width: 0;
  left: 100%;
  height:100vh;
  position:fixed;
  padding: 5px;
  transition: 0.5s;
  box-shadow: 0px 0px 5px 0px #888888;
}

.app-container-max {
  transition: margin-right .5s;
  padding: 16px;
} 

@media screen and (max-height: 450px) {
.app-livestream  {padding: 15px;}
}

.minimizeStream {
  float: left;
  font-size:large;
  position: relative;
  z-index: 999;
  color:black;
}

.minimizeStream:hover {
  cursor: pointer;
}

.app-head, .footer {
  height: 7em;
  color: white;
  width: 100%;
}

.main-text{
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}

.button-bar {
  /* display: block;
  float: right; */
  width: 96%;
  height: 3vw;
}

.button-bar-expandmode {
  width: 97vw;
  height: 3vw;
  border-bottom: 2px solid green;
  margin-bottom: 1px;
  background-color: #d4efcb;
}

.button-bar-expandmode:before {
  content: "Review Central";
  font-size: xx-large;
  color: #7b0404;
  font-style: italic;
}

.accept-button{
 float: right;
 margin-left: 10px;
}

.reject-button{
float: right;
}

.accept-button, .reject-button{
  /* width: 32px !important;
  height: 32px !important; */
  /* border-radius: 50%;
  border: solid 1px black; */
  margin-bottom: 3px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
}

.script-code {
  background-color: #f2f2f2;
} 