
.app-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.persona {
  display:block;
  width: 100vw;
}

.app-head{
  grid-column-start: 1;
  grid-column-end : 4;
}

.footer{
  grid-column-start: 1;
  grid-column-end : 4;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.app-head, .footer {
  height: 7em;
  color: white;
  width: 100vw;
}

.main-text{
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}

.button-bar {
  display: block;
  width: 60vw;
  height: 3vw;
}

.accept-button{
 float: right;
 margin-left: 10px;
}

.reject-button{
float: right;
}

.accept-button, .reject-button{
  /* width: 32px !important;
  height: 32px !important; */
  /* border-radius: 50%;
  border: solid 1px black; */
  margin-bottom: 3px;
  cursor: pointer;
}