.NewComment {
    margin-top: 20px;
    clear: both;
    float: left;
    font-size: small;
    display: block;
    width: 100%;
}

.StreamTitle {
    display: block;
    color: white;
    margin-left: 5px;
    font-size: large;
    float: left;
    font-weight: 400;
    text-align: center;
}

.userName {
    font-style: italic;
    color: #e7e7ff;
    float: left;
    margin-right: 5px;
}

.commentDescription {
    margin-left: 5px;
    color: white;
    text-align: left;
    font-style: italic;
    float: left;
}

.endComment:before {
    content: "@";
    font-weight: bold;
    float: left;
}

.commentOn:before, .commentOn-min:before {
    content: "on";
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
}

.commentConjunction:before {
    content: "has commented ";
    float: left;
    margin-left: 2px;
}

.commentOn, .commentOn-min{
    float: left;
}

.dateTime {
    font-size: small;
    font-style: italic;
    float: left;
    color: white;
}

.streamContent {
    margin-top: 20px;
    color: white;
}

.NotificationBell {
    /* float: left;
    margin-left: 3px; */
    float: right;
    margin: 15px 20px 0px 0px;
}

.NotificationBellHide {
    display: none;
}

a.fa-bell {
    position: relative;
    font-size: 2em;
    border: blue;
    cursor: pointer;
}
.alter-zindex{
    z-index: -1;
}
span.fa-comment {
    position: absolute;
    font-size: 0.6em;
    top: -4px;
    color: red;
    right: -4px;
}

span.num {
    position: absolute;
    font-size: 0.3em;
    top: 1px;
    color: #fff;
    right: 2px;
}

.commentOn-min a {
    color: #7fb7a1;
    text-decoration: none;
    width: 30%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.NotificationBell a.fa-bell {
    color: #7fb7a1;
}

.commentOn a {
    color: #7fb7a1;
}