.propertiesPane {
    position: relative;
    margin-top: 5px;
    width: 97vw;
    border: 1px solid #d4efcb;
    height: 10em;
    background-color: #f2f2f2;
}

.tabsPane {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    padding: 5px;
    background-color: #f2f2f2;
}

.activeTab, .Tab {
    display: inline-flex;
    border-left: 1px solid #6a9160;
    border-right: 1px solid #6a9160;
    border-top: 1px solid #6a9160;
    margin-right: 5px;
    position: relative;
    top: 5px;
    font-size: small;
    padding: 2px;
}

.activeTab:hover, .Tab:hover {
    cursor: pointer;
}

.activeTab {
    background-color: #d5efcb;
}