.propertiesPane {
    position: relative;
    margin-top: 5px;
    width: 97vw;
    border: 1px solid #d4efcb;
    height: 10em;
    background-color: #f2f2f2;
}

.tabsPane {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    padding: 5px;
    background-color: #f2f2f2;
}

.activeTab, .Tab {
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-left: 1px solid #6a9160;
    border-right: 1px solid #6a9160;
    border-top: 1px solid #6a9160;
    margin-right: 5px;
    position: relative;
    top: 5px;
    font-size: small;
    padding: 2px;
}

.activeTab:hover, .Tab:hover {
    cursor: pointer;
}

.activeTab {
    background-color: #6a9160;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #d6efcb;
    border-right: 1px solid #d6efcb;
    border-top: 1px solid #d6efcb;
    border-bottom: 2px solid #ca0909;
}

.table-detail,.table-comments{
    width: 100%;
    margin: 13px;
}

.table-head{
    font-size: 14px;
    font-weight: bold;
}

.table-detail td{
    padding-bottom: 10px;
}

.detailsForm section {
    clear: both;
}

.detailsForm section>label {
    float: left;
    position: relative;
    left: 15%;
    width: 20%;
    text-align: right;
}

.detailsForm section>input {
    float: right;
    position: relative;
    right: 30%;
    width: 20%;
    padding-left: 5px;
    border: 1px solid #cecdcd;
    text-align: left;
}

.detailsForm {
    margin-top: 1%;
    z-index: 9999;
}

.dragHandle {
    height: 30px;
    background-color: #d5efcb;
    position: relative;
    cursor: n-resize;
    top: 10%;
}

.propertiesPaneContent {
    background-color: white!important;
}

.react-draggable.react-draggable-dragged {
    background-color: white;
    width: 97vw;
}

.recommendationsPane {
    overflow: auto;
    margin-top: 1%;
}

.ReviewHistoryPane {
    margin-top: 1%;
    margin-left: 10%;
}

li.recommentItem {
    font-size: x-small;
    margin-left: 10%;
}

li.recommentItem:before {
    content: '- ';
}

.CategoryName {
    margin-left: 8%;
    text-decoration:  underline;
}